// STEP TWO: TYPOGRAPHY ================================================

//All these values can be overridden on a per project basis in 'custom-styles' typography file
// Now define your design’s typography by setting a base typeface and size

$baselineheight 				: 1.8em;

//$basefontfamily 				: Palatino, "Times New Roman", Times, serif; //set in custom styles
//$basefontsize 				: 16;//set in custom styles

$letter-spacing                 : 0.01rem;

// Your headings may inherit the base typeface, or you may set a different font stack
//$baseheadingfont 				: inherit; //set in custom styles

// Choose between normal, bold or set a font-weight number (eg: 700) for your headings
$baseheadingfontweight 			: 400;

// Your headings may inherit the $textcolor, or you may set a different colour
$baseheadingfontcolor 			: inherit;

// Often you’ll use an alternative typeface (eg: for buttons, form inputs and tables)
$altfontfamily 					: "Helvetica Neue", Helvetica, Arial, sans-serif;
$altlineheight 					: 1.35em;

// You can choose a special typeface just for ampersands too
$ampfontfamily 					: local('Georgia'), local('Garamond'), local('Palatino'), local('Book Antiqua');

//  And if your site’s for geeks, you’ll need a font for code too
$codefont 						: Monaco, Courier New, monospace;

// TYPOGRAPHY =============================================================================

// Background colour for blockquotes, ins, and mark
$basefontbackgroundcolor		: $dividerscolor; 



