// = Button ================================================

// Mixin 
@mixin btn-shadow(){
    -moz-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	-o-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 13px 0 rgba(0, 0, 0, 0.24);
    &:active:not(.btn-link) {
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.23), 3px 8px 20px 0 rgba(0, 0, 0, 0.18), -3px 8px 20px 0 rgba(0, 0, 0, 0.18);
		-moz-transition-delay: 0s;
		-o-transition-delay: 0s;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
    }
}

// variables

$button-border-color: $grey-lighter !default;
$button-border-width: 3px;
$button-disabled-background-color: $white !default;
$button-disabled-border-color: $grey-lighter !default;
$button-disabled-shadow: none !default;
$button-disabled-opacity: 0.5 !default;

// output

//=============================================================================

//default btn
.btn {
    display: inline-block;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    border: 1px solid $button-border-color;
    //sizes
    padding: 7.5px 15px;

    &.btn-large {
        padding: 20px 40px;
    }

    &.btn-medium {
        padding: 10px 20px;
    }

    &.btn-small {
        padding: 5px 10px;
    }

    &[disabled] {
        @extend is-unselectable;
        background-color: $button-disabled-background-color;
        border-color: $button-disabled-border-color;
        box-shadow: $button-disabled-shadow;
        opacity: $button-disabled-opacity;
    }
}

//raised
.btn-raised {
    @include btn-shadow;
}


//circle floating action
.btn-circle {
    margin: 0;
    padding: 15px;
    font-size: 26px;
    height: 3em;
    min-width: 3em;

    & {
        border-radius: 100%;
    }

    > .svg-inline--fa {
        width: 100%;
    }
}

///////////////////////////////////////////////////

@each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-contrast: nth($pair, 2);
    .btn-#{$name} {
        color: $color-contrast;
        background: $color;
        border: 1px solid transparent;

        &:hover {
            background: darken($color, 20%);
        }

        &[disabled] {
            background-color: $color;
            border-color: transparent;
            box-shadow: none;
        }

        &.btn-flat {
            background-color: $color-contrast;
            color: $color;
            border-color: transparent;

            &:hover {
                background-color: darken($color-contrast, 5%);
            }

            &[disabled] {
                background-color: $color-contrast;
                border-color: transparent;
                box-shadow: none;
                color: $color;
            }
        }

        &.btn-ghost {
            background-color: transparent;
            border-color: $color;
            color: $color;

            &:hover, &:focus {
                background-color: $color;
                border-color: $color;
                color: $color-contrast;
            }

            &.is-loading {
                &:after {
                    border-color: transparent transparent $color $color !important;
                }
            }

            &[disabled] {
                background-color: transparent;
                border-color: $color;
                box-shadow: none;
                color: $color;
            }
        }

        &.btn-flat.btn-ghost {
            background-color: transparent;
            border-color: $color-contrast;
            color: $color-contrast;

            &:hover, &:focus {
                background-color: $color-contrast;
                color: $color;
            }

            &[disabled] {
                background-color: transparent;
                border-color: $color-contrast;
                box-shadow: none;
                color: $color-contrast;
            }
        }
    }
}

//==============================================================

//Ripple Efect
.ripple { /*stylings for the circular overlay*/
	position: absolute;
	border-radius: 100%;
	width: 0;
	height: 0;
	background: rgba(0,0,0, .05);
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.notransition { /*used to reset the ripple without an animatiion*/
	-moz-transition: none !important;
	-o-transition: none !important;
	-webkit-transition: none !important;
	transition: none !important;
}