// = Base.Typography ================================================
// Set the typographic for the current site

$base-font-family   : $base-font-family-serif !default;
$base-heading-font  : $base-font-family-sans-serif !default;
$code-font   : $family-monospace !default;