$basefontsize 				: 18;
//body font
//$basefontfamily 				: Palatino, "Times New Roman", Times, serif;
//$basefontfamily	: 'Open Sans', sans-serif;
//$basefontfamily: 'Lato', sans-serif;
$basefontfamily: 'Merriweather', serif;
//'Open Sans', sans-serif;
 
//***************************************
//heading font
$baseheadingfont: 'Lato', sans-serif;
//$baseheadingfont: 'Roboto Slab', serif;
//'Montserrat', sans-serif;
// 'Roboto', sans-serif;
// 'Roboto Slab', serif;