// =hero =============================================================

//$herobackgroundcolor            : 

// Set hero’s border width
$heroborderwidth 				: $border-width;

// And hero’s border style
$heroborderstyle 				: $border-style;

// By default hero’s border is a tint of $herobackgroundcolor. Adjust percentage as required
//$herobordercolor				: darken($herobackgroundcolor, 20%);

// Set hero’s border radius. Default is $border-radius defined above
$heroborderradius				: $border-radius;

// By default colour is a tint of background colour. Adjust percentage as required
$herocolor                      : $grey;

// Add optional box-shadow values or ignore
// By default shadow colour is a tint of background colour. Adjust percentage as required
//$heroshadow						: darken($herobackgroundcolor, 10%);
$heroshadowblur					: 10px;


