// =navigation

// Set navigation items’ link colours
$navigationlinkcolor: $white;

// By default site navigation has a flat background colour
$navigationbackgroundcolor 		: $black;

// Set navigation items’ bottom border width
$navigationborderwidth			: $borderwidth;

// Set navigation items’ bottom border style
$navigationborderstyle			: $borderstyle;

// Set navigation items’ bottom border colour
$navigationbordercolor 			: darken($navigationbackgroundcolor,10%);

// :hover
$navigationlinkcolorhover		: darken($navigationlinkcolor,10%);


// =navbar ============

// Set navbar’s min-height
$navbarheight					: 44px;

// By default Navbars have a flat background colour
$navbarbackgroundcolor			: $dividerscolor;

// Set navbar’s border width
$navbarborderwidth				: $borderwidth * 2;

// Set navbar’s’ border style
$navbarborderstyle				: $borderstyle;

// By default navbar’s border is a tint of $navbarbackgroundcolor. Adjust percentage as required
$navbarbordercolor 				: darken($navbarbackgroundcolor,10%);

// Set navbar’s border radius. Default is $borderradius defined above
$navbarborderradius				: $borderradius;

// Set navbar’s text colour
$navbarcolor                    : $black;

// Set navbar’s brand colour
$navbarbrandcolor				: palette(indigo);

// Set navbar’s link colours
$navbarlinkcolor                : $grey;

// :hover
$navbarlinkbackgroundcolorhover : rgba($navbarlinkcolor,.25);
$navbarlinkcolorhover           : $grey;

// :hover
$navbarlinkbackgroundcoloractive: palette(indigo);
$navbarlinkcoloractive			: $white;

// Set navbar’s divider colour
$navbardividerleft				: $navbarbordercolor;
$navbardividerright				: lighten($navbarbordercolor,10%);