// = tables ==========================================================

$table-padding 					: 8px;

// Set table background colour
$table-background-color			: transparent;

// Set optional alternate table row background colour
//$tablebackgroundstripe: $disabledhintcolor;

// Set table row :hover colour
$table-background-hover 		: $grey-lighter;

// Set table border widths. Default is $border-width defined above
$table-border-width				: $border-width;

// Set tables’ border styles
$table-border-style				: $border-style;

// Set tables’ border colour
$table-border-color             : $grey;

// Set tables’ font-family. Default is $alt-font-family defined above
$tablefontfamily 				: $alt-font-family;