//http://codepen.io/funzeye/pen/YPPXrX

$max-grid-columns: 12;
$grid-gutter: 1em;
.grid {
    @include clearfix; 
    margin: 0 (-$grid-gutter);
}
[class^='col-'], //^=begins with - *=contains
[class*='col-'] { 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    float: left;
    padding-left: $grid-gutter;
	padding-right: $grid-gutter;
    width: 100%;
	//text-align:center;
	//margin-bottom: $grid-gutter;
}

//==============================================================
// Default value for $total-columns
// You can change it if you need more or less cols
@mixin col-width($current-column, $total-columns: $max-grid-columns) {
  width: ($current-column*100%) / $total-columns;
}

@mixin grid-bp($col-prefix, $bp-size) {
	@for $total-columns from 1 through $max-grid-columns {
		@for $current-column from 1 through $total-columns {
			.col-#{$col-prefix}-#{$current-column}-#{$total-columns} { 
				@include breakpoint($bp-size) {
					@include col-width($current-column, $total-columns);
				}
			}
		}
	}
}
//=============================================================

//default grid
@for $total-columns from 1 through $max-grid-columns {
	@for $current-column from 1 through $total-columns {
    .col-#{$current-column}-#{$total-columns} { 
		@include col-width($current-column, $total-columns);
    }
 }
}

//Note: you should use custom breakpoint sizes if these defaults do not look right - breakpoints should always suit content, not the other way around!!
//medium screen grid
@include grid-bp('medium', $bp-medium);
@include grid-bp('large', $bp-large);

//you could of course add further breakpoint sizes if you want and call them something else...



//I like the idea of using modules inside cols - gives ability to keep content away from grid edge edge...
/*<div class="grid">
  <div class="col-1-1 col-large-2-3"> 
     <article class="module">
        stuff
     </article>
     <article class="module">
        stuff
     </article>
  </div>
  <div class="col-large-1-3"> //you could leave out col-1-1 if you wanted as it will be 100% by default anyway!!
    <aside class="module">
       Sidebar stuff. Sub modules?
    </aside>
  </div>
</div>*/

//thanks to: 
//http://css-tricks.com/dont-overthink-it-grids/
//http://webdesign.tutsplus.com/tutorials/a-simple-responsive-grid-made-even-better-with-sass--cms-21540
//http://geek-rocket.de/frontend-development/scss-grid-with-ease/
//http://dbushell.com/2013/03/19/on-responsive-layout-and-grids/