// = Figure ================================================

figure {
	margin-bottom : $base-line-height;

	img {
	margin-bottom : $base-line-height / 4; }

	figcaption {
	display    : block;
	font-weight: normal;
	font-style : italic;
	color      : $white; 
	@include font-size(14);
	}
}