// = Headings ================================================

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: 0.5em;
    font-family: $base-heading-font;
    font-weight: $base-heading-font-weight;
    color: $base-heading-font-color;
}

// mobile-font-size, desktop font-size pairs
$headings: ( 
    "h1": ($base-font-size * 2, $base-font-size * 3), 
    "h2": ($base-font-size * 1.75, $base-font-size * 2.5), 
    "h3": ($base-font-size * 1.6, $base-font-size * 2), 
    "h4": ($base-font-size * 1.45, $base-font-size * 1.6), 
    "h5": ($base-font-size * 1.3, $base-font-size * 1.4), 
    "h6": ($base-font-size * 1, $base-font-size * 1.1));

@each $name, $pair in $headings {
    $font-size :nth($pair, 2);
    $font-size-mobile: nth($pair, 1);

    #{$name} {
        @include font-size($font-size-mobile);
        @include line-height($font-size-mobile);
        //line-height: 1.2;
        //margin-bottom: $verticalrythm / 2;
        @include mq(desktop) {
            @include font-size($font-size);
            @include line-height($font-size);
            //line-height: 1.05;
        }
    }
}
