// = HR ================================================

hr {
    clear : both;
    display : block;
    margin : $baselineheight * 2 0;
    padding : 0;
    height : 1px;
    border : 0;
    border-top : 1px solid $border-color; 
}

