$linkcolor:palette(orange, dark);
$linkcolorhover:palette(orange, light);

a {
  transition: color 0.1s linear;
  color: $linkcolor;
  text-decoration: none;

  &:hover {
    //color: $linkcolorhover;
  }

  &:active, &:focus {
    //color: $linkcolorhover;
    outline: none;
  }
}