// = Lists ================================================

ul, ol {
  margin-bottom: $base-line-height / 2;
  padding-left: $base-line-height;
  //list-style-type: none;

  &%plain-ul, &%plain-ol {
    //list-style-type: disc;
    //margin-bottom: $base-line-height / 2;
    //padding-left: $base-line-height;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  /*&%default-ol {
    list-style-type: decimal;
    margin-bottom: $base-line-height / 2;
    padding-left: $base-line-height;
  }*/
}

dl {
  margin-bottom: $base-line-height / 2;

  dt {
    font-weight: bold;
    margin-top: $base-line-height / 2;
  }

  dd {
    margin: 0;
  }
}