//= Settings.Typography =======================================================================================

// Global Typographical Styles: ============================

$base-font-family-serif: 'Open Sans', serif !default;
$base-font-family-sans-serif: 'Lato', sans-serif !default;
$family-monospace: Monaco, Courier New, monospace;

$global-font-size: 18 !default;
$global-line-height: 1.8 !default;

// Often you'll use an alternative typeface (eg: for buttons, form inputs and tables)
$alt-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$alt-line-height: 1.35em !default;

// You can choose a special typeface just for ampersands too
$amp-font-family: local('Georgia'), local('Garamond'), local('Palatino'), local('Book Antiqua') !default;

$letter-spacing: 0.01rem;

// Choose between normal, bold or set a font-weight number (eg: 700) for your headings
$base-heading-font-weight: 400;

// Your headings may inherit the $text-color, or you may set a different colour
$base-heading-font-color: inherit;